// ============================================
// fresnica-ui Base Reset
// ============================================

*,
*::before,
*::after {
    box-sizing: border-box;
}

[class^='Fresnica-'] {
    font-family: var(--Fresnica-font-family);
    color: var(--Fresnica-text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
